<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/peerjs@0.3.20/dist/peer.min.js"></script>
    <!-- <script src="sdk.js"></script> -->
    <script src="chat.js"></script>
    <title>PP Chat</title>
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <div class="left">
                <div class="top">
                    <input id="username" type="text" placeholder="Username" />
                    <a href="javascript:;" class="search" id="send_username"></a>
                </div>
                <ul class="people" id="contacts">
                </ul>
            </div>
            <div class="right">
                <div class="top"><span>To: <span id="chat-with"></span></span></div>
                <div class="chat" id="chatroom">
                </div>
                <div class="write">
                    <a href="javascript:;" class="write-link attach"></a>
                    <input type="file" name="myfile" id="myfile" />
                    <input type="text" id="message" onkeypress="if(event.key === 'Enter') handleSendMsg()"/>
                    <a href="javascript:;" class="write-link smiley"></a>
                    <a href="javascript:;" class="write-link send" id="send_message"></a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>